<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!--REPORTES-->
		<add key="DireccionFus" value="D:\SITIOS\SILPA_PRE\SILPA.WebHost\FileTraffic\"/>
		<add key="TiempoEspera" value="10000"/>
		<add key="Espera" value="1500"/>
		<add key="WSValidacionToken" value="http://190.60.246.172/silpa/esecurity/services/securityservices.asmx" />
		<add key="REPORTES" value="~/Reportes/"/>
		<add key="REPORTESHTML" value="/Silpa/Reportes/"/>
		<add key="DestinoSensibilizacion" value="C:\programas\VITAL\Fuentes\Silpa\Solucion\Silpa\ParametrizacionSensibilizacion\Contenido\"/>
		<add key="DestinoArchivos" value="D:\Gattaca\Web Sites\eFormBuilder\Library\Runtime\FormInstance"/>
		<add key="FileSizeSensibilizacion" value="6000"/>
		<!--<add key="FILE_TRAFFIC" value="ftp://160.160.160.25/ftp.silpa/Downloads/"/>-->
		<!--Nombre de la carpeta donde se almacenan los archivos de las quejas dentro del filetraffic-->
		<add key="str_archivos_queja" value="QUEJAS"/>
		<!--<add key="FILE_TRAFFIC" value="ftp://160.160.160.25/ftp.silpa/Downloads/"/>-->
		<add key="FILE_TRAFFIC" value="D:\SITIOS\SILPA_PRE\SILPA.WebHost\FileTraffic\"/>
		<!--Nombre de la carpeta donde se almacenan los archivos de las quejas dentro del filetraffic-->
		<add key="ListaServicios" value="ListaServicios.xml"/>
		<add key="SilaRadicacion.SilaWebService" value="http://160.160.160.25:8090/SilaServiciosWeb/SilaWebService.asmx"/>
		<!--CORREO:-->
		<add key="DefaultCredentials" value="false"/>
		<add key="str_servidor_correo" value="160.160.160.200"/>
		<add key="str_sender_correo" value="acusevital@gmail.com"></add>
		<add key="str_usuario_correo" value="agarcia-softmanagement-com-co"></add>
		<add key="str_clave_correo" value="yqEcyn6IdJDAeX/5wZh7Qiw8dNli2EuFadkxMNIlL40="></add>
		<add key="int_puerto_correo" value="25"></add>
		<add key="str_correo_control" value="acusevital@gmail.com"></add>
		<add key="CUENTA_CONTROL" value="cuentacontrol@gmail.com"/>
		<add key="PLANTILLA_ACUSE_ENVIO" value="6"/>
		<add key="PLANTILLA_ERROR_ENVIO" value="7"/>
		<!--Configuracion de proxy de salida a internet-->
		<add key="int_proxy_puerto" value="8080"></add>
		<add key="str_proxy_server" value="160.160.160.200"></add>
		<!--CORREO:  Informacion de los parametros del sistema-->
		<add key="ListaParametros" value="ListaParametros.xml"></add>
		<!--país que permite listar sus departamentos -->
		<add key="int_pais_predeterminado" value="49"></add>
		<!-- PSE -->
		<add key="PSE_URL" value="https://desarrollo.pse.com.co/PSEWebServices/MainServices.asmx"/>
		<add key="PSE_CERTIFICATESUBJECT" value="C=CO, S=CUNDINAMARCA, L=BOGOTA, O=ACH COLOMBIA, OU=SISTEMAS, CN=www.desarrollopse.com.co"/>
		<add key="PPE_CERTIFICATESTORE" value="Root"/>
		<add key="PPE_CERTIFICATESUBJECT" value="C=CO, S=Cundinamarca, L=Bogota, O=Fondo Nacional Ambiental VITAL, OU=MAVDT, CN=186.28.239.194"/>
		<add key="PPE_URL" value="http://186.28.239.194:8000/silpa_ut_pre/PagoElectronico/InformacionTransaccion.aspx"/>
		<add key="PPE_CODE" value="830025267"/>
		<add key="PSE_CODE" value="1001"/>
		<add key="BANK_CODE" value="121"/>
		<add key="Razon_Social" value="Fondo Nacional Ambiental VITAL"/>
		<add key="str_nombrebd_silamc" value="SILAMC_MAVDT"/>
		<add key="int_tiempo_pago" value="1"/>
		<add key="int_tiempo_recordacion" value="1"/>
		<!-- Log de Errores - 20100525 -->
		<add key="LOG_CONEXION" value="ConexionSQL2"/>
		<add key="LOG_PROCEDIMIENTO_ALMACENADO" value="SMSP_LOG_CREAR"/>
		<add key="LOG_NOMBRE_ARCHIVO" value="C:/Temp/SilpaLog.txt"/>
		<!-- Recurso de reposicion -->
		<add key="maximos_dias_recurso_reposicion" value="tiempo_recurso_reposicion"/>
		<!--Ubicacion de la carpeta donde gattaca almacena los archivos-->
		<add key="str_path_gattaca_file" value="D:\Gattaca\Web Sites\eFormBuilder\Library\Runtime\FormInstance\"></add>
		<add key="bpmservices" value="http://192.168.0.7:8182/bpmservices.asmx"/>
		<!-- Envio de correo - 20100527 -->
		<add key="CRYPTO_PROVIDER" value="passEncryp"/>
		<add key="DIAS_INHABILITAR" value="60"/>
		<add key="CORREO_CONEXION" value="ConexionSQL2"/>
		<!-- Bandeja de Tareas-->
		<add key="URL_BPM" value="http://160.160.160.25:8000/SILPA/BPM/"/>
		<add key="URL_FORMBUILDER" value="http://160.160.160.25:8000/SILPA/eFormBuilder/"/>
		<add key="CUENTA_CONTROL" value="cuentacontrol@gmail.com"/>
		<add key="PLANTILLA_ACUSE_ENVIO" value="6"/>
		<add key="PLANTILLA_ERROR_ENVIO" value="7"/>
		<add key="idCorreo" value="194"/>
		<add key="userFinaliza" value="administrator"/>
		<add key="IdUserFinaliza" value="1"/>
		<add key="EtiquetaRadicable" value="1"/>
		<add key="IdUserComunicacionEE" value="1"/>
		<!--MENU-->
		<add key="RUTA_XML" value="D:\Proyecto\SILPA\SILPA\APP\SILPA.WebHost\Menu\"/>
		<add key="WSIMP01.WSIMP01" value="http://localhost:12545/SilpaServiciosWeb/WSIMP01.asmx"/>
		<!--FormBuilter-->
		<add key="SHOW_FORMBUILDER" value="http://160.160.160.25:8000/SILPA/BPM/InternalParticipant/ViewEntryData.aspx?URLDataView=../../eFormbuilder/security/applicationLogin.aspx?type=startprocess&amp;&amp;EntryDataType={ENTRY_DATA_TYPE}&amp;EntryData={ENTRY_DATA}&amp;IdEntryData={IDENTRY_DATA}&amp;IdActivityInstance={IDACTIVITY_INSTANCE}&amp;IdProcessInstance={PROCESS_INSTANCE}&amp;op=show&amp;IdUser={IDUSER}&amp;IdRelated={IDUSER}&amp;ClientName=SoftManagement"/>
	</appSettings>
	<connectionStrings>
		<add name="ConexionSql2" connectionString="data source=NETCO-SRV1;uid=sa;pwd=Colombia2010;Database=SILPA_PRE; Persist Security Info=True;" providerName="System.Data.SqlClient"/>
		<add name="SILAMCConnectionString" connectionString="data source=NETCO-SRV1;Initial Catalog=SILAMC_MAVDT;Persist Security Info=True;User ID=sa;Password=Colombia2010" providerName="System.Data.SqlClient"/>
		<add name="SILAConnectionString" connectionString="data source=NETCO-SRV1;Initial Catalog=SILAMC_MAVDT;Persist Security Info=True;User ID=sa;Password=Colombia2010" providerName="System.Data.SqlClient"/>
		<add name="SILPAConnectionString" connectionString="data source=NETCO-SRV1;uid=sa;pwd=Colombia2010;Database=SILPA_PRE; Persist Security Info=True;" providerName="System.Data.SqlClient"/>
		<!-- conexiones BPM Gattaca -->
		<add name="eFormBuilderConnectionString" connectionString="data source=NETCO-SRV1;Initial Catalog=Softmanagement_eFormBuilder;Persist Security Info=True;User ID=sa;Password=Colombia2010" providerName="System.Data.SqlClient"/>
		<add name="eSecurityConnectionString" connectionString="data source=NETCO-SRV1;Initial Catalog=Softmanagement_eSecurity;Persist Security Info=True;User ID=sa;Password=Colombia2010" providerName="System.Data.SqlClient"/>
		<add name="eWorkFlowConnectionString" connectionString="data source=NETCO-SRV1;Initial Catalog=Softmanagement_eWorkFlow;Persist Security Info=True;User ID=sa;Password=Colombia2010" providerName="System.Data.SqlClient"/>
		<!--<add name="SILAConnectionString" connectionString="Data Source=BEAST\ALFA5;Initial Catalog=SILA25;Persist Security Info=True;User ID=adm_sila;Password=adm_sila3" providerName="System.Data.SqlClient"/>-->
		<remove name="LocalSqlServer"/>
		<!--<add name="Membresia" connectionString="data source=160.160.160.25;initial catalog=SILAMC_PRE_MEMBRESIA;User ID=sa;Password=Colombia2010" providerName="System.Data.SqlClient"/>-->
		<add name="Membresia" connectionString="data source=NETCO-SRV1;initial catalog=SILAMC_MAVDT_MEMBRESIA;User ID=sa;Password=Colombia2010" providerName="System.Data.SqlClient"/>

	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="PresentationCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="PresentationFramework, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="UIAutomationProvider, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="ReachFramework, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Printing, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="PresentationCFFRasterizer, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="UIAutomationTypes, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="PresentationUI, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx"/>
		</authentication>
		<authorization>
			<deny  users="?" />
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	
	</system.web>
</configuration>

