<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AppRadicacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SILPA" connectionString="Data Source=192.168.0.3;Initial Catalog=SILPA_PRE;User ID=sa;Password=Colombia2010"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <AppRadicacion.Properties.Settings>
      <setting name="AppRadicacion_EnviarDatosSolicitud_WSPQ03" serializeAs="String">
        <value>http://192.168.0.3:8182/WSPQ03.asmx</value>
      </setting>
    </AppRadicacion.Properties.Settings>
  </applicationSettings>
</configuration>