<?xml version="1.0"?>
<configuration>
	<configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
	<connectionStrings>
		<add name="ConexionSILPA" connectionString="Database=SILPA_PRE;Server=DBPRU\SIGEVAS;user id=Pru_Vital;pwd=Anla2020,;" providerName="System.Data.SqlClient"/>
		<add name="ConexionSql" connectionString="data source=SILPA_PRE;uid=sa;pwd=sasql;Database=UPC-B87EDFD904F" providerName="System.Data.SqlClient"/>
		<add name="ConexionSql2" connectionString="data source=192.168.0.7;uid=sa;pwd=Colombia2010;Database=SILPA_PRE; Persist Security Info=True;" providerName="System.Data.SqlClient"/>
		<add name="SILAMCConnectionString" connectionString="Data Source=DBPRU\SIGEVAS;Initial Catalog=SILAMC_MAVDT;Persist Security Info=True;User ID=Pru_Vital;Password=Anla2020," providerName="System.Data.SqlClient"/>
		<add name="SILPAConnectionString" connectionString="Data Source=DBPRU\SIGEVAS;Initial Catalog=SILPA_PRE;Persist Security Info=True;User ID=Pru_Vital;Password=Anla2020," providerName="System.Data.SqlClient"/>
    <add name="SilaAnbogwConnectionString" connectionString="Data Source=DBPRU\sigevas;Initial Catalog=SILA_MIN_MIGRACION;Persist Security Info=True;User ID=pru_vital;Password=Anla2020," providerName="System.Data.SqlClient"/>
    
    <!--                                                                                                                                                                                                      conexiones BPM Gattaca -->
		<add name="eFormBuilderConnectionString" connectionString="Data Source=DBPRU\SIGEVAS;Initial Catalog=Softmanagement_eFormBuilder;Persist Security Info=True;User ID=Pru_Vital;Password=Anla2020," providerName="System.Data.SqlClient"/>
		<add name="eSecurityConnectionString" connectionString="Data Source=DBPRU\SIGEVAS;Initial Catalog=Softmanagement_eSecurity;Persist Security Info=True;User ID=Pru_Vital;Password=Anla2020," providerName="System.Data.SqlClient"/>
		<add name="eWorkFlowConnectionString" connectionString="Data Source=DBPRU\SIGEVAS;Initial Catalog=Softmanagement_eWorkFlow;Persist Security Info=True;User ID=Pru_Vital;Password=Anla2020," providerName="System.Data.SqlClient"/>
		<remove name="LocalSqlServer"/>
		<add name="Membresia" connectionString="data source=DBPRU\SIGEVAS;initial catalog=SILAMC_MAVDT_MEMBRESIA;User Id=Pru_Vital;Password=Anla2020," providerName="System.Data.SqlClient"/>
	</connectionStrings>

  <securityCryptographyConfiguration defaultHashInstance="SHA1Managed" defaultSymmetricCryptoInstance="passEncryp">
    <hashProviders>
      <add algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="SHA1Managed"/>
    </hashProviders>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="C:\Program Files\Silpa\ServicioSILPA\archivo.key" protectedKeyProtectionScope="CurrentUser" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="passEncryp"/>
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  
  <appSettings>
		<add key="LOG_CONEXION" value="ConexionSILPA"/>
		<add key="LOG_PROCEDIMIENTO_ALMACENADO" value="SMSP_LOG_CREAR"/>
    <!--jmartinez creo tag para el procedimiento almacenado para guardar el log de correos-->
    <add key="LOG_PROCEDIMIENTO_ALMACENADO_CORREO" value="SMSP_LOG_CREAR_CORREO"/>
    <add key="INGRESAR_DETALLES_LOG_CORREO" value="0"/> <!--0.FALS0 - 1.VERDADERO-->

    <add key="LOG_NOMBRE_ARCHIVO" value="C:/Temp/mio22.txt"/>
		<add key="INTERVALO" value="60000"/>
    <add key="CRYPTO_PROVIDER" value="passEncryp"/>
    <add key="DIAS_INHABILITAR" value="60"/>
    <add key="CORREO_CONEXION" value="ConexionSILPA"/>
    <add key="CUENTA_CONTROL" value="acusevital@gmail.com"/>
    <add key="PLANTILLA_ACUSE_ENVIO" value="6"/>
    <add key="PLANTILLA_ERROR_ENVIO" value="7"/>

    <!--REPORTES-->
		<add key="REPORTES" value="~/Reportes/"/>
		<add key="REPORTESHTML" value="/Silpa/Reportes/"/>
		<add key="DestinoSensibilizacion" value="C:\programas\VITAL\Fuentes\Silpa\Solucion\Silpa\ParametrizacionSensibilizacion\Contenido\"/>
		<add key="FileSizeSensibilizacion" value="6000"/>
		<!--<add key="FILE_TRAFFIC" value="ftp://192.168.0.7/ftp.silpa/Downloads/"/>-->
		<add key="FILE_TRAFFIC" value="D:\FileTraffic\"/>
		<!--Nombre de la carpeta donde se almacenan los archivos de las quejas dentro del filetraffic-->
		<add key="str_archivos_queja" value="QUEJAS"/>
		<!--<add key="FILE_TRAFFIC" value="ftp://192.168.0.7/ftp.silpa/Downloads/"/>-->
		<!--<add key="FILE_TRAFFIC" value="D:\SITIOS\SILPA_PRE\SILPA.WebHost\FileTraffic\"/>-->
		<!--Nombre de la carpeta donde se almacenan los archivos de las quejas dentro del filetraffic-->
		<!--<add key="str_archivos_queja" value="QUEJAS"/>-->
		<add key="ListaServicios" value="ListaServicios.xml"/>
		<add key="SilaRadicacion.SilaWebService" value="http://192.168.0.7:8090/SilaServiciosWeb/SilaWebService.asmx"/>
		<!--CORREO:-->
		<add key="DefaultCredentials" value="false"/>
		<add key="str_servidor_correo" value="mail.softmanagement.com.co"/>
		<add key="str_sender_correo" value="harold.villa@netco.la"></add>
		<add key="str_usuario_correo" value="agarcia-softmanagement-com-co"></add>
		<add key="str_clave_correo" value="yqEcyn6IdJDAeX/5wZh7Qiw8dNli2EuFadkxMNIlL40="></add>
		<add key="int_puerto_correo" value="25"></add>
		<add key="str_correo_control" value="jgarces@softmanagement.com.co"></add>
    <add key="seguridad_Correo" value="true"/>
		<!--CORREO:  Informacion de los parametros del sistema-->
		<add key="ListaParametros" value="ListaParametros.xml"></add>
		<!--pas que permite listar sus departamentos -->
		<add key="int_pais_predeterminado" value="49"></add>
		<!-- PSE -->
		<add key="PSE_URL" value="https://desarrollo.pse.com.co/PSEWebServices/MainServices.asmx"/>
		<add key="PSE_CERTIFICATESUBJECT" value="C=CO, S=CUNDINAMARCA, L=BOGOTA, O=ACH COLOMBIA, OU=SISTEMAS, CN=www.desarrollopse.com.co"/>
		<add key="PPE_CERTIFICATESTORE" value="Root"/>
		<add key="PPE_CERTIFICATESUBJECT" value="C=CO, S=Cundinamarca, L=Bogota, O=Fondo Nacional Ambiental VITAL, OU=MAVDT, CN=186.28.239.194"/>
		<add key="PPE_URL" value="http://186.28.239.194:8000/silpa_ut_pre/PagoElectronico/InformacionTransaccion.aspx"/>
		<add key="PPE_CODE" value="830025267"/>
		<add key="PSE_CODE" value="1001"/>
		<add key="BANK_CODE" value="121"/>
		<add key="Razon_Social" value="Fondo Nacional Ambiental VITAL"/>
		<add key="str_nombrebd_silamc" value="SILAMC_MAVDT"/>
		<add key="int_tiempo_pago" value="1"/>
		<add key="int_tiempo_recordacion" value="1"/>
		<!-- Recurso de reposicion -->
		<add key="maximos_dias_recurso_reposicion" value="tiempo_recurso_reposicion"/>
		<!--Ubicacion de la carpeta donde gattaca almacena los archivos-->
		<add key="str_path_gattaca_file" value="D:\Gattaca\Web Sites\eFormBuilder\Library\Runtime\FormInstance\"></add>
		<add key="BPMServices.bpmservices" value="http://192.168.0.7:8888/bpmservices.asmx"/>
	   <add key="GattacaBpm" value="http://172.17.0.160/xcars/silpa/bpm/services/bpmservices.asmx"/>
    
    <!-- PINES -->
     <add key="DIAS_ALARMA_VENCIMIENTO_PINES" value="3"></add>
     <add key="HORA_EJECUCION_PROCESO_PINES" value="6:00"></add>
     <add key="GeneraAlertasPINES" value="true"/>
    
    <add key="IdUserFinaliza" value="1"/>
    <add key="userFinaliza" value="administrator"/>
    <add key="IdUserComunicacionEE" value="1"/>
    <add key="EtiquetaRadicable" value="D:\Silpa\Fuentes\SILPA_PREPRODUCCION\SILPA\APP\SILPA.WebHost\EtiquetasRadicables.xml"/>
    <!--Credenciales para los servicios web -->
    <add key="usuario_servicio" value="0000001"/>
    <add key="clave_servicio" value="00000001*"/>
    <add key="str_path_repoUsuario" value="RepoUsuario"/>
    
    <!-- NOTIFICACIONES -->
    <add key="NOT_CARPETA_TEMP" value="D:/Temp/Notificaciones/"/>

    <add key="WSPQ04" value="http://172.17.0.160/xcars/XSilpaServicios/WSPQ04.asmx"/>
    
    <add key="str_path_repoUsuario" value="RepoUsuario"/>

  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
