<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="cx" value="Data Source=192.168.0.3;Initial Catalog=SILPA_PRE;User ID=sa;Password=Colombia2010"/>
  </appSettings>
  <connectionStrings>
    <add name="SILPA" connectionString="Data Source=5.85.255.106;Initial Catalog=SILPA_PRE;User ID=sa;Password=Colombia2010"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <AppRadicacion.Properties.Settings>
      <setting name="AppRadicacion_EnviarDatosSolicitud_WSPQ03" serializeAs="String">
        <value>http://localhost:1848/SilpaServiciosWeb/WSPQ03.asmx</value>
      </setting>
    </AppRadicacion.Properties.Settings>
  </applicationSettings>
</configuration>