<?xml version="1.0" encoding="iso-8859-1" ?>
<configuration>
  <appSettings>
    <!--Excepciones definidas para el proyecto de utilidades de verificación y generación de firma digital-->
    <!--co.com.certicamara.certicamaraUtils-->
    <!--0000 - 0499-->
    <add key="0" value="Excepción no manejada por el proyecto de verificación de firma digital." />
    <add key="1" value="Error de cargue o procesamiento del documento XML." />
    <add key="2" value="La codificación no es soportada, el nombre de archivo es vacio o nulo, contiene solo espacios o contiene caracteres inválidos" />
    <add key="3" value="Acceso denegado al archivo." />
    <add key="4" value="El nombre del archivo contiene una referencia en nulo." />
    <add key="5" value="El directorio en el cual se desea escribir el archivo no existe." />
    <add key="6" value="El nombre del archivo incluye una sitaxis inválida o incorrecta." />
    <add key="7" value="El invocador de la función no tiene los permisos requeridos." />
    <add key="8" value="El path de lectura del archivo representa una referencia nula." />
    <add key="9" value="El path referencia una cadena vacia, contiene únicamente espacios en blanco o contiene uno o más caracteres inválidos." />
    <add key="10" value="El path especificado, el nombre del archivo o ambos exceden la máxima longitud definida por el sistema. Por ejemplo, en plataformas Windows los path deben ser menores a 48 caracteres y los nombres de archivos deben ser menores a 60 caracteres." />
    <add key="11" value="El path especificado es inválido." />
    <add key="12" value="El archivo especificado ni fue encontrado en el path dado." />
    <add key="13" value="Se ha presentado un error de entrada - salida (I/O) mientras se accedía al archivo." />
    <add key="14" value="El invocador de la función no tiene los permisos suficientes de acceso al archivo." />
    <add key="15" value="El path presenta un formato inválido." />
    <add key="16" value="El invocador de la función no tiene los permisos suficientes de acceso al archivo." />
    <add key="17" value="La codificación fuente representa una referencia nula, la codigicación destino representa una referencia nula o los bytes de conversión representan una referencia nula." />
    <add key="18" value="Ocurrió una falla de conversión srcEncoding.DecoderFallback" />
    <add key="19" value="Ocurrió una falla de conversión dstEncoding.DecoderFallback" />
    <add key="20" value="La cadena para convertir de formato base 64 representa una referencia nula." />
    <add key="21" value="La longitud de la cadena de texto a convertir de base 64, ignorando espacios en blanco, no es cero o un múltiplo de 4 ó el formato de la cadena es inválido: contiene caracteres no permitidos en la codificación base 64 o caracteres especiales dentro de los caracteres de padding." />
  </appSettings>
</configuration>