<?xml version="1.0" encoding="iso-8859-1" ?>
<configuration>
  <appSettings>
    <!--Excepciones definidas para el proyecto de verificación de firma digital-->
    <!--co.com.certicamara.toVerifyObject-->
    <!--1000 - 1499-->
    <add key="1000" value="Excepción no manejada por el proyecto de verificación de firma digital." />
    <add key="1001" value="Una referencia nula fue pasada a un método que no lo acepta como un argumento válido." />
    <add key="1002" value="Una operación criptográfica no se pudo completar." />
    <add key="1003" value="ArgumentNullException. Error de verificación de firma digital CMS PKCS7. Descripción; {0}." />
    <add key="1004" value="CryptographicException. Error de verificación de firma digital CMS PKCS7. Descripción; {0}." />
    <add key="1005" value="InvalidOperationException. Error de verificación de firma digital CMS PKCS7. Descripción; {0}." />
    <add key="1006" value="La colección sobre la cual se desea adicionar el certificado actual es de solo lectura o tiene un tamaño fijo." />
    <add key="1007" value="Error de validación de la firma digital XML Enveloped No. {0}." />
    <add key="1008" value="ArgumentNullException. Error de validación de firma digital XML Enveloped. Descripción: {0}." />
    <add key="1009" value="CryptographicException. Error de validación de firma digital XML Enveloped. Descripción: {0}." />
    <add key="1010" value="Error de validación de la firma digital XML Detached No. {0}." />
    <add key="1011" value="ArgumentNullException. Error de validación de firma digital XML Detached. Descripción: {0}." />
    <add key="1012" value="CryptographicException. Error de validación de firma digital XML Detached. Descripción: {0}." />
    <add key="1013" value="Error de validación de la firma digital XML Enveloping No. {0}." />
    <add key="1014" value="ArgumentNullException. Error de validación de firma digital XML Enveloping. Descripción: {0}." />
    <add key="1015" value="CryptographicException. Error de validación de firma digital XML Enveloping. Descripción: {0}." />
    <add key="1016" value="Error de validación genérica de firma digital Web CMS Detached. Descripción No. 1: {0}. Descripción No. 2: {1}" />
    <add key="1017" value="Error de validación de firma digital XML. Descripción: El archivo XML dado no tiene un tag de firma Signature asociado." />
    <add key="1018" value="Error cargando o procesando el archivo XML dado." />
  </appSettings>
</configuration>