<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="DIAS_ALARMA_VENCIMIENTO_PINES" value="3"></add>
    <add key="HORA_EJECUCION_PROCESO_PINES" value="6:00"></add>
  </appSettings>
    
    <applicationSettings>
        <SILPA.Servicios.Properties.Settings>
            <setting name="SILPA_Servicios_RadicacionAA_SilaWebService" serializeAs="String">
                <value>http://192.168.0.7:8090/SilaServiciosWeb/SilaWebService.asmx</value>
            </setting>
            <setting name="SILPA_Servicios_BPMServices_Gattaca_x0020_BPM_x0020_Services_x0020_9_0_0_0" serializeAs="String">
                <value>http://192.168.0.7:8000/silpa/bpm/services/bpmservices.asmx</value>
            </setting>
        </SILPA.Servicios.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
